nav a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
    margin: 10px;
    margin-inline: 50px;
}

nav {
    text-align: center;
}

#fact-title {
    text-align: center;
}

ul.reference-list li {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    list-style: none;
}

ul.reference-list {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 50px;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
}
td, th {
    border: 1px solid #999;
    padding: 20px;
}

th{
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.main-image {
    width: 500px;
    width: 60%;
    margin: auto;
    display: block;
}

.menu {
    background-color: #AED1FE;
}

main {
    width: 66%;
    text-align:justify;
    float: left;
    margin-left: 10px;
}

body{
    background-color: #86BAFE;
}

aside {
    float: right;
    margin-top: 80px;
    margin-right: 10px;
}

footer {
    clear: both;
    text-align: center;
}